            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-7">
                        <center><h1><b><p class="text-danger">ETAPAS</p></b></h1></center>       
                    
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-7">
                        <table class = "table table-borderless table-condensed table-hover">
                            <caption>Proyecto: {{usuario}}</caption>
                               <thead>
                                  <tr>
                                      <th><p style="color:#46C6E6">ETAPA</p></th>
                                      <th><p style="color:#46C6E6">INICIO</p></th>
                                      <th><p style="color:#46C6E6">FINAL</p></th>
                                      <th><center><p style="color:#46C6E6">MATERIALES</p></center></th>
                                  </tr>
                               </thead>

                               <tbody>
                                  <tr ng-repeat="n in letapas">
                                      <td><a ng-click="setEtapaMate(n._nombre,n._id)" data-toggle="modal" data-target="#etapaInfo">{{n._nombre}}</a></td>
                                     <td>{{n._fInicio}}</td>
                                     <td>{{n._fFin}}</td>
                                      <td>
                                          <center><a href="#products" ng-click="setEtapaMate(n._nombre,n._id)"><IMG SRC="../resource/nuevo.png" ALT="Agregar Material a Etapa"></IMG></a></center>
                                      </td>
                                  </tr>
                               </tbody>
   
                        </table>     
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-7">
                        <button type = "button" class = "btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#newEtapas">
                            <span class = "glyphicon glyphicon-plus"></span> Nueva Etapa
                        </button>
                    </div>
                </div>
            </form>