
       
            
            <form class="form-horizontal text-center" role="form">
                <div class="row">
                    <div class = "col-sm-2"></div>
                    <div class = "col-sm-5">
                        <center>
                            <h1><p class = "text-danger">Inicio de sesion</p></h1>
                        </center>
                    </div>
                    <br>
                </div>
                <div class = "form-group">
                    <div class="row">
                        <div class = "col-sm-2"></div>
                        <div class = "col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user" style="color:#46C6E6"></span></span>
                                <input type="text" class="form-control" placeholder="Nombre de Usuario" ng-model="userName" required>
                            </div>
                        </div>
                    </div>
                </div>
                {{inicioSesion}}
                <div class = "form-group">
                    <div class="row">
                            <div class = "col-sm-2"></div>
                            <div class = "col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock" style="color:46C6E6"></span></span>
                                    <input type="password" class="form-control" placeholder="Contraseña" ng-model="contrasena" required>
                                </div>
                            </div>
                    </div>
                </div>
                <div class = "form-group">
                    <div class="row">
                            <div class = "col-sm-2"></div>
                            <div class = "col-sm-5">
                                    <button type = "button" class = "btn btn-info btn-lg btn-block" ng-click="update()">Iniciar sesion</button>
                            </div>
                    </div>
                </div>
            </form>
