<div class="modal fade" id="myModal" role="dialog" ng-controller="nuevaEtapaController">
                    <div class="modal-dialog">
                        <div class="modal-content">        
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="row">
                                        <div class = "col-sm-4"></div>
                                        <div class = "col-sm-5">
                                            <center>
                                                <h2><p class = "text-danger">NUEVA ETAPA</p></h2>
                                            </center>
                                        </div>
                                        <br>
                                    </div>

                                    <div class = "form-group">
                                        <div class="row">
                                            <div class = "col-sm-4"></div>
                                            <div class = "col-sm-5">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user" style="color:#46C6E6"></span></span>
                                                    <input type="text" class="form-control" placeholder="Nombre" ng-model="eNombre" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        <div class="row">
                                            <div class = "col-sm-4"></div>
                                            <div class = "col-sm-5">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil" style="color:46C6E6"></span></span>
                                                    <input type="text" class="form-control" placeholder="Descripción" ng-model="eDescripcion" required>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        <div class="row">
                                                <div class = "col-sm-4"></div>
                                                <div class = "col-sm-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd" style="color:46C6E6"></span></span>
                                                        <input type="text" class="form-control" placeholder="Costo" ng-model="eCosto" required>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        <div class="row">
                                                <div class = "col-sm-4"></div>
                                                <div class = "col-sm-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign" style="color:46C6E6"></span></span>
                                                        <input type="text" class="form-control" placeholder="Estado" ng-model="eEstado" required>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        
                                        <div class="row">
                                                <div class = "col-sm-4"></div>
                                                <div class = "col-sm-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span style="color:46C6E6">Inicio</span></span>
                                                        <input type="date" class="form-control" placeholder="Fecha Inicial" ng-model="eFechaInicial" required>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        <div class="row">
                                                <div class = "col-sm-4"></div>
                                                <div class = "col-sm-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span  style="color:46C6E6">                      Fin  </span></span>
                                                        <input type="date" class="form-control" placeholder="Fecha FInal" ng-model="eFechaFinal" required>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        <div class="row">
                                                <div class = "col-sm-4"></div>
                                                <div class = "col-sm-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-comment" style="color:46C6E6"></span></span>
                                                        <textarea class="form-control" rows="4" id="comment"></textarea>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class = "form-group">
                                        <div class="row">
                                                <div class = "col-sm-4"></div>
                                                <div class = "col-sm-5">
                                                        <button type = "button" class = "btn btn-info btn-lg btn-block" data-dismiss="modal">Registrar</button>
                                                </div>
                                        </div>
                                    </div>
                                </form>
                                hola: {{varr}}
                            </div>
                        </div>

            </div>
        </div>
                            

